<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7.css">
</head>
<body>
    <div id="app">
       <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
           <div class="panel-body form-inline">
               <label>
                   Id:
               </label>
               <input type="text" class="form-control" v-model="id">
               <label>
                   Name:
               </label>
               <input type="text" class="form-control" v-model="name" @keyup.enter="add()">
               <!--如果加了小括号,就可以给函数传参了-->
               <input type="button" class="btn btn-primary" value="添加" @click="add()">
               <label>
                   搜索关键字:
               </label>
               <input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'" v-fontweight="800" > <!--要加单引号-->
           </div>
       </div>

       <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime | dateFormat</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!--之前,v-for中的数据,都是直接从data上的list中直接渲染过来的-->
                <!-- 现在,我们自定义了一个search方法,同时,把所有的关键字,通过传参的形式,传递给了search方法-->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.ctime | dateFormat('')}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
       </table>
    </div>
</body>
<script src="lib/vue-2.4.0.js"></script>
<script>

    /*
        使用  Vue.directive()定义全局的指令 v-focus
        其中:参数1:指令的名称,指令的名称前不需要加v-前缀,但是在调用的时候需要添加
             参数2:一个对象,这个对象身上有一些相关的钩子函数
     */
    Vue.directive("focus",{
        //每当指令绑定到元素上的时候,会立即执行这个bind函数,只执行一次
        bind(el){

        },
        //inserted表示元素插入到dom中的时候,会执行inserted函数,只执行一次
        inserted(el){
            el.focus();
        },
        //当VNode更新的时候,会执行updated,可能会触发很多次
        update(el){


        }
    });

    //自定义一个设置字体颜色的指令
    Vue.directive("color",{
        //bind回调可以上样式;inserted回调可以上行为
        bind(el,binding){
            el.style.color = binding.value;
        }
    });

    Vue.filter("dateFormat",function(date,pattern=""){ //es6新特性,为值为undefined属性赋初值
        var dt = new Date(date);
        var y = dt.getFullYear();
        var m = padDate(dt.getMonth()+1);
        var d = dt.getDate();

        if(pattern.toLowerCase() === "yyyy-mm-dd"){
            return  `${y}-${m}-${d}`;//模板语法
        }else{
            var hh = dt.getHours();
            var mm = padDate(dt.getMinutes());
            var ss = dt.getSeconds().toString().padStart(2,'0');//padStart函数
            return  `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
        }

    });

    //在月份、日期、小时等小于10时前面补0
    var padDate = function (value) {
        return value < 10 ? '0'+value : value;
    }

    var vm = new Vue({
        el:"#app",
        data:{
            id:'',
            name:'',
            keywords:'',
            list:[
                {id:1,name:"宝马",ctime:new Date()},
                {id:2,name:"奔驰",ctime:new Date()},
                {id:3,name:"大众",ctime:new Date()}
            ]
        },
        methods:{
            add(){
                var car = {id:this.id,name:this.name,ctime:new Date()};
                this.list.push(car);
                this.id=this.name='';
            },
            del(id){
                /*
                    对数组中的每个元素都执行一次指定的函数（callback），直到此函数返回 true
                 */
                this.list.some((item,index)=>{
                    if(item.id==id){
                        this.list.splice(index,1);
                        return true;
                    }
                })
            },
            search(keywords){
                /*
                    对数组中的每个元素都执行一次指定的函数（callback），并且创建一个新的数组，该数组元素是所有回调函数执行时返回值为 true 的原数组元素。
                 */
                var newList=this.list.filter((item,index)=>{
                    if(item.name.includes(keywords)){
                        return true;
                    }
                });
                return newList;
            }
        },
        directives:{
            "fontweight":{
                bind(el,binding){
                    el.style.fontWeight = binding.value;
                }
            }
        }
    })
</script>
</html>